.good {
    color: #78BC61;
}

.danger {
    color: #d8504b;
}

.unity-button {
    margin-left: 0;
    margin-right: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.unity-base-field {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.unity-base-text-field {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.unity-float-field {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.deleteButton {
    background-color: #d8504b;
    color: white;
}

.deleteButton:hover {
    background-color: #c0392b;
}

.deleteButton:active {
    background-color: #a93226;
}
