.good {
    color: #78BC61;
}

.danger {
    color: #d8504b;
}

.deleteButton {
    background-color: #d8504b;
    color: white;
}

.deleteButton:hover {
    background-color: #c0392b;
}

.deleteButton:active {
    background-color: #a93226;
}
